<app-color-selector [formControl]="colorSelectorControl"
  style="margin-left: 64px; margin-top: 32px;">
</app-color-selector>

<div style="margin-left: 64px; margin-top: 32px;">
  Color selector value: {{ colorSelectorControl.value }}
</div>

<div style="margin-left: 64px; margin-top: 32px;">
  Color selector status: {{ colorSelectorControl.status }}
</div>

<button (click)="toggleDisableState()" style="display: block; margin-left: 64px; margin-top: 16px;">
  {{ colorSelectorControl.disabled ? 'Enable' : 'Disable' }} color selector
</button>

<button (click)="markAsRequired()" style="display: block; margin-left: 64px; margin-top: 16px;">
  Mark as required control
</button>

<button (click)="markAsNotRequired()" style="display: block; margin-left: 64px; margin-top: 16px;">
  Mark as not required control
</button>